/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

.bg-light{
    background-color: #f8f9fa!important;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
